<div class="container mt-4">
  <h2 class="mb-4">Lista de Livros</h2>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Título</th>
        <th>Editora</th>
        <th>Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let livro of livros">
        <td>{{ livro.titulo }}</td>
        <td>{{ obterNome(livro.codEditora) }}</td>
        <td>
          <button class="btn btn-danger btn-sm" (click)="excluir(livro.codigo)">Excluir</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
